@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Source+Sans+Pro:wght@200&display=swap");

:root {
  --primary_color: rgb(153, 241, 153);
  --primary_font: "Raleway", sans-serif;
  --primary_text_cl: black;
  --primary-fw: 900;
  --primary-bsh: rgba(6, 6, 10, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

body {
  background-color: cornsilk;
  margin: 0px;
}

/* for loader */

#loader {
  background: black url("/logo/loader_3.gif") no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-size: 25%;
}

/* for main area */
.box {
  display: flex;
  height: 100vh;
  padding: 0px 10vw;
  gap: 1em;
}
.box::before {
  content: "";
  z-index: -1;
  background-color: var(--primary_color);
  height: 53vw;
  width: 112vw;
  position: absolute;
  transform: rotate(33deg);
  border-radius: 25px;
  left: -21vw;
  box-shadow: var(--primary-bsh);
}
.area_1,
.area_2 {
  margin: auto 0px;
  padding: 5px;
}

.text_para {
  font-size: 20px;
  font-family: var(--primary_font);
  font-weight: var(--primary-fw);
}
.main_img {
  width: 30vw;
  border-radius: 50% 5%;
  box-shadow: var(--primary-bsh);
  transition: 1s;
}
.main_img:hover {
  border-radius: 5% 50%;
}
/* typewriter animation */

.typewriter {
  position: relative;
}
.typewriter::after,
.typewriter::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0px;
  left: 0px;
  animation: typewriter 4s steps(30) 3s forwards;
}
.typewriter::before {
  background: var(--primary_color);
}
.typewriter::after {
  width: 0.125em;
  background: black;
  animation: typewriter 4s steps(30) 3s forwards, bl 500ms steps(30) infinite;
}
@keyframes bl {
  to {
    background-color: transparent;
  }
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}

/* footer */

.footer {
  border-top: 1px solid black;
  height: 25vh;
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  background-color: var(--primary_color);
  height: 3em;
  width: 74em;
  top: 1.5em;
  left: -5em;
  z-index: -1;
  box-shadow: var(--primary-bsh);
}
.link_list {
  display: flex;
  justify-content: center;
  gap: 3em;
}
.link_list li {
  margin-top: 3em;
  list-style: none;
}
.logo {
  height: 2em;
}

.footer_text {
  text-align: center;
  font-family: var(--primary_font);
  font-weight: var(--primary-fw);
  margin-top: 2.5em;
}

@media screen and (max-width: 480px) {
  body {
    height: 110vh;
    overflow-x: scroll;
  }
  .typewriter,
  .typewriter::after,
  .typewriter::before {
    animation: none;
    background-color: transparent;
  }
  .box {
    height: 75vh;
    flex-direction: column;
  }
  /* .area_1, */
  .area_2 {
    margin: 0px auto;
  }
  .main_img {
    width: 50vw;
  }
  .footer {
    height: 15vh;
  }
  .footer_text {
    padding: 0px 1em;
  }
  .footer::before {
    display: none;
  }
  .link_list {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
  }
  #loader {
    height: 100%;
    background-size: 75%;
  }
}
@media screen and (max-width: 810px) {
  .typewriter::after,
  .typewriter::before {
    animation: none;
    background-color: transparent;
  }
}
