/* footer area */
footer {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 1.5em 0;
    margin-top: 3em;
}

.footer_box-1:nth-child(1) {
    grid-area: one;
}

.footer_box-2:nth-child(2) {
    grid-area: two;
}

.footer_box {
    display: grid;
    grid-template-areas: 'one two';
    gap: 3em;
    place-items: center;
}

.footer_box-2 {
    width: 20em;

}

.footer_box-2 h4 {
    font-size: 25px;
    border-bottom: 1px solid #052659;
}

.footer_nav-list {
    margin-top: 0.125em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 0.7em;
    padding-top: 1.5em;
}

.logo {
    margin-right: 0.7em;
    font-size: larger;
}

.footer_nav-list li a {
    color: var(--primary);
}

.footer_nav-list li a:hover {
    color: #010b18;
    transition: 300ms;
    font-size: large;
}

.footer_box-1 hr {
    margin: 1.5em 0em;
}

.msg {
    border-bottom: 1px solid black;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.thanks {
    font-weight: 600;
    font-size: 1.5em;
}