/* Header Area */
header {
    margin: 15em 0em;
}

.container {
    max-width: 60em;
    margin: 0 auto;
    padding: 0 5em;
    gap: 3em;
}

.main-image {
    border-radius: 1em;
    box-shadow: -14px 10px 38px -23px var(--primary);
    -webkit-box-shadow: -14px 10px 38px -23px var(--primary);
    -moz-box-shadow: -14px 10px 38px -23px var(--primary);
}

.main-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-text-heading {
    font-size: 3em;
}

.nav-list {
    display: flex;
    gap: 3em;
    writing-mode: sideways-lr;

}

.nav-list a {
    padding: 0.25em;
    border-radius: 0.5em;
    color: var(--text);
}

.nav-list a:hover {
    transition: all .3s ease-out;
    transform: translateY(-0.5em);
}

.nav-list svg {
    transform: rotate(270deg);
}

.main-text {
    background-color: var(--secondary);
    border-radius: 5px;
    padding: 0 0.25em;
    color: var(--primary);
    /* display: inline-block; */
    text-wrap: nowrap;
}