/* media queries */
@media only screen and (max-width : 720px) {
    .container {
        padding: 0 2em;
        gap: 2em;
    }

    .nav-list {
        writing-mode: horizontal-tb;
    }

    .nav-list a:hover {
        transform: translateX(0.5em);
    }

    .nav-list svg {
        transform: rotate(0deg);
    }

    .main-container {
        grid-template-areas: 'four four'
            'one two'
            'three five'
        ;
    }

    .skill-box {
        flex-direction: column;
    }

    .footer_box {
        grid-template-areas: 'one' 'two';
    }
}

@media only screen and (max-width : 500px) {
    .container {
        padding: 0 1em;
    }

    .nav-list svg {
        transform: rotate(0deg);
    }

    .main-area {
        flex-direction: column;
    }

    .main-text-heading {
        font-size: 2em;
    }

    .main-text {
        font-size: larger;
    }

    .main-container {
        grid-template-areas: 'one' 'two' 'three' 'four' 'five';
    }

    .skill-box {
        flex-direction: column;
    }

}