.navbar {
    background-color: #333;
    padding: 1rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.nav-links a:hover {
    color: #f0f0f0;
}

.nav-links .active-link {
    color: #007bff;
    font-weight: bold;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    color: white;
}

@media only screen and (max-width: 720px) {
    .nav-links {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    .nav-links li {
        margin-left: 15px;
    }

    .nav-links a {
        font-size: 1.2rem;
    }

    .nav-links.active {
        display: block;
    }
}

@media only screen and (max-width: 500px) {
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-brand {
        margin-bottom: 10px;
    }

    .nav-links {
        width: 100%;
        display: none;
        flex-direction: column;
        text-align: left;
        padding: 0;
        margin-top: 10px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a {
        font-size: 1.2rem;
        padding: 10px;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        font-size: 2.5rem;
    }
}

.breadcrumb-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.breadcrumb {
    list-style: none;
    padding: 0;
    display: flex;
    font-size: 1rem;
}

.breadcrumb li {
    margin-right: 10px;
}

.breadcrumb a {
    text-decoration: none;
    color: #333;
}

.breadcrumb a:hover {
    color: #007bff;
}

.breadcrumb li::after {
    content: '>';
    margin-left: 10px;
}

.breadcrumb li:last-child::after {
    content: '';
}