.projects {
    margin-top: 15em;
}

.projects>.container>h3 {
    font-size: 30px;
}

.skill-box {
    display: flex;
    justify-content: space-around;
    gap: 0.5em;
    border-radius: 5px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.main_s-box {
    user-select: none;
    max-width: 300px;
    margin: 5rem auto;
    border: 1px solid #ffffff22;
    background-color: #282c34;
    background: linear-gradient(0deg, #282c34 0%, rgba(17, 0, 32, 0.5) 100%);
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s all;
}

.main_s-box hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
}

.main_s-box ins {
    text-decoration: none;
}

.main_s-box .main {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1em;
}

.main_s-box .main .tokenImage {
    border-radius: 0.5rem;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
}

.main_s-box .main .description {
    margin: 0.5rem 0;
    color: #a89ec9;
}

.main_s-box .main .tokenInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_s-box .main .tokenInfo .price {
    display: flex;
    align-items: center;
    color: #ee83e5;
    font-weight: 700;
}

.main_s-box .main .tokenInfo .price ins {
    margin-left: -0.3rem;
    margin-right: 0.5rem;
}

.main_s-box .main .tokenInfo .duration {
    display: flex;
    align-items: center;
    color: #a89ec9;
    margin-right: 0.2rem;
}

.main_s-box .main .tokenInfo .duration ins {
    margin: 0.5rem;
    margin-bottom: 0.4rem;
}

.main_s-box .main .creator {
    display: flex;
    align-items: center;
    margin-top: 0.2rem;
    margin-bottom: -0.3rem;
}

.main_s-box .main .creator ins {
    color: #a89ec9;
    text-decoration: none;
}

.main_s-box .main .creator .wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ffffff22;
    padding: 0.3rem;
    margin: 0;
    margin-right: 0.5rem;
    border-radius: 100%;
    box-shadow: inset 0 0 0 4px #000000aa;
}

.main_s-box .main .creator .wrapper img {
    border-radius: 100%;
    border: 1px solid #ffffff22;
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    margin: 0;
}

.main_s-box ::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
}

.main_s-box:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    filter: brightness(1.3);
}

.main_s-box:hover ::before {
    filter: brightness(0.5);
    top: -100%;
    left: 200%;
}

.bg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg h1 {
    font-size: 20rem;
    filter: opacity(0.5);
}