@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

.contact-para {
    font-size: 4em;
    font-family: "Roboto", sans-serif;
    color: gray;
    text-decoration: underline dotted gray;
    text-decoration-thickness: 1px;
}


.email-area {
    text-align: center;
    margin-top: 1em;
}

.text-eng {
    font-family: "Kaushan Script", cursive;
    color: #8ace77;
}

.text-latin {
    color: gray;
}

.link-text,
.email-area a {
    color: #8ace77;
    /* color: gray; */
}

.email-area {
    font-family: cursive, sans-serif;
    font-size: 4em;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .contact-para,
    .email-area {
        font-size: 2em;
    }
}